<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/admin">Admin Menu</a>
      </li>
      <li class="active">Current</li>
    </ol>

<h1>Listing umbrellas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gps lat</th>
      <th>Gps lon</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @umbrellas.each do |umbrella| %>
      <tr>
        <td><%= umbrella.name %></td>
        <td><%= umbrella.gps_lat %></td>
        <td><%= umbrella.gps_lon %></td>
        <td><%= umbrella.status %></td>
        <td><%= link_to 'Show', umbrella %></td>
        <td><%= link_to 'Edit', edit_umbrella_path(umbrella) %></td>
        <td><%= link_to 'Destroy', umbrella, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Umbrella', new_umbrella_path %>

</div>
</div>