

<script type="text/javascript">
  var directionsDisplay = new google.maps.DirectionsRenderer();;
  var directionsService = new google.maps.DirectionsService();
  var map;
  var p_latlng;
  var watchID=0;
  function initialize() {
    
    //現在地
   // geoLocate(); // MAPの初期位置(js取得の場合)
    //武蔵中原(武蔵中原)
    p_latlng = new google.maps.LatLng(<%=@p_lat%>,<%=@p_lon %>);
    g_latlng = new google.maps.LatLng(<%=@g_lat%>,<%=@g_lon %>);
    //マップオプション
    var myOptions = {
      zoom: 16,
      center: p_latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    //マップ出力
    map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
    //傘の位置（json）
    var umbrella = <%= raw @umbrella %>;
    //すべての傘設置
    setUmbrella(umbrella);
    //現在地マーカー
    placeMarker(p_latlng,"<%= @current_img %>")
        
    //経路オブジェクト
    directionsDisplay.setMap(map);
    calcRoute(p_latlng,g_latlng);
    
    
  }
//すべての傘をセット
  function setUmbrella(umbrella){
    for (var i = 0; i < umbrella.length; i++) {
      var latLng = new google.maps.LatLng(umbrella[i].gps_lat,umbrella[i].gps_lon);
      console.log(umbrella[i].status);
      if(umbrella[i].status){
      	placeMarker(latLng,"<%= @umbrella_img %>");
      }else{
      	placeMarker(latLng,"<%= @umbrella_close_img %>");
      }

    }
  }
//マーカー１つをセット  
  function placeMarker(location,img) {   
    var marker = new google.maps.Marker({
        position: location,
        map: map,
        animation: google.maps.Animation.DROP,
        icon: img
    }); 
    //map.setCenter(location);
  }
 //経路検索
 function calcRoute(start,end) {
  var request = {
    origin:start,
    destination:end,
    travelMode: google.maps.TravelMode.WALKING, //歩く
    unitSystem: google.maps.DirectionsUnitSystem.METRIC, //km
    optimizeWaypoints: true,//最適化された最短距離にする。
    avoidHighways: false,//trueで高速道路を使用しない
    avoidTolls: true, //trueで有料道路を使用しない
    provideRouteAlternatives: true
  };
  directionsService.route(request, function(result, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(result);
      setDistance(result);
    }
  });
}


function setDistance(result){
  var distance = window.JSON.stringify(result["routes"][0]["legs"][0]["distance"]);
  var duration = window.JSON.stringify(result["routes"][0]["legs"][0]["duration"]);
  console.log(result);
  $("#distance").text(distance);
  $("#duration").text(duration);  
}

</script>

<!-- マップキャンパス -->
<div class="container">
  <div class="row">
	<div id="map_canvas" style="width:100%;height:800px;margin-bottom:20px;"></div>
  
    <label>距離：<pre id="distance"></pre></label>
    <label>時間：<pre id="duration"></pre></label>

  </div>
</div>

<div onload="initialize();"></div>


