<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/admin">Admin Menu</a>
      </li>
      <li class="active">Current</li>
    </ol>
    
    <h1>Listing users</h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Total ratign</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.total_ratign %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New User', new_user_path %>

  </div>
</div>