<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ticket.user %>
</p>

<p>
  <strong>Umbrella:</strong>
  <%= @ticket.umbrella %>
</p>

<p>
  <strong>Gps present lat:</strong>
  <%= @ticket.gps_present_lat %>
</p>

<p>
  <strong>Gps present lon:</strong>
  <%= @ticket.gps_present_lon %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
